body{
font-family: 'Lato', sans-serif;
}

h2{
  color: #1AC67E;
  font-size: 80px;
  weight : 700;
}
h3{
  color: #1AC67E;
  weight : 900;
}

video{
height: 300px;
}

.img-left-rotate{
  transform: rotate(-4deg);
}

.img-avantages{
  height: 300px;
  border-radius: 5px;

}

.img-right-rotate{
    transform: rotate(4deg);
}

.pb-6{
  padding-bottom: 90px;
}
.pt-6{
  padding-top: 90px;
}
